@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.ok</p>
<h1>hello ! Brajendra</h1>

<h2>hello ! This text is added into TestBranch Only.</h2>
<h1>2nd commit in Test Branch</h1>